{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <link rel="stylesheet" href="index.js"> -->
</head>
<body>


    <nav class="navLinks">
        <header class="header">
            <a href="#home" class="logo">GhGuda</a>
        </header>
        
        <div class="toggler">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <ul>
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#contact">Contact</a>
        </ul>
    </nav>

    <section class="home" id="home">
        {% for me in update %}
        <div class="home-content">
            <h3>Hello, I'm </h3>
            <h1>Guda</h1>
            <h3 class="dev">And I'm a <span class="multiple-text"></span></h3>
            <p>{{me.description|truncatewords:20}} <a href="#about" style="Color: #0ef">Read More</a></p>
            <div class="social-media">
                <a href="http://www.twitter.com/_ghguda"><i class="fa-brands fa-twitter fa-beat-fade fa-lg" style="line-height: 30px;"></i></a>
                <a href="http://www.wa.me/233594074717"><i class="fa-brands fa-whatsapp fa-beat-fade fa-lg" style="line-height: 30px;"></i></a>
                <a href="http://www.instagram.com/ghguda"><i class="fa-brands fa-instagram fa-beat-fade fa-lg" style="line-height: 30px;"></i></a>
                <a href="http://www.t.me/ghguda"><i class="fa-brands fa-telegram fa-beat-fade fa-lg" style="line-height: 30px;"></i></a>
            </div>
            <a href="#" class="btn">Download Resume</a>
        </div>

        <div class="home-img">
                <img src="{{me.main_picture.url}}" alt="">
        </div>
        {% endfor %}
    </section>

    <!-- about section  -->

    <section class="about" id="about">
        {% for me in update %}
        <div class="about-img">
            <img src="{{me.about_picture.url}}" alt="">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Frontend Dev!</h3>
            <p>
            {{me.description}}
            </p>
            <a href="http://www.t.me/ghguda" class="btn">Hire Me</a>
        </div>
        {% endfor %}
    </section>

    <!-- services section  -->

    <section class="services" id="services">
        <h2 class="heading">Our <span>Services</span></h2>

        <div class="services-container">
            <div class="service-box">
                <i class="fa-solid fa-code "></i>
                <h3>Web Dev!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident labore vitae qui sint omnis quam, vero necessitatibus soluta odio rem voluptas pariatur nesciunt consectetur hic unde nobis fugiat nulla ratione, culpa eveniet. Rerum voluptates explicabo officiis omnis dolores fuga assumenda.</p>
                <a href="http://www.t.me/ghguda" class="btn">Hire Me</a>
            </div>

            <div class="service-box">
                <i class="fa-solid fa-business-time "></i>
                <h3>Influencer!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident labore vitae qui sint omnis quam, vero necessitatibus soluta odio rem voluptas pariatur nesciunt consectetur hic unde nobis fugiat nulla ratione, culpa eveniet. Rerum voluptates explicabo officiis omnis dolores fuga assumenda.</p>
                <a href="http://www.t.me/ghguda" class="btn">Hire Me</a>
            </div>

            <div class="service-box">
                <i class="fa-solid fa-camera "></i>
                <h3>Photographer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident labore vitae qui sint omnis quam, vero necessitatibus soluta odio rem voluptas pariatur nesciunt consectetur hic unde nobis fugiat nulla ratione, culpa eveniet. Rerum voluptates explicabo officiis omnis dolores fuga assumenda.</p>
                <a href="http://www.t.me/ghguda" class="btn">Hire Me</a>
            </div>

            <div class="service-box">
                <i class="fa-solid fa-music "></i>
                <h3>Musician</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident labore vitae qui sint omnis quam, vero necessitatibus soluta odio rem voluptas pariatur nesciunt consectetur hic unde nobis fugiat nulla ratione, culpa eveniet. Rerum voluptates explicabo officiis omnis dolores fuga assumenda.</p>
                <a href="http://www.t.me/ghguda" class="btn">Hire Me</a>
            </div>

            <div class="service-box">
                <i class="fa-solid fa-blogger "></i>
                <h3>Blogger</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident labore vitae qui sint omnis quam, vero necessitatibus soluta odio rem voluptas pariatur nesciunt consectetur hic unde nobis fugiat nulla ratione, culpa eveniet. Rerum voluptates explicabo officiis omnis dolores fuga assumenda.</p>
                <a href="http://www.t.me/ghguda" class="btn">Hire Me</a>
            </div>
        </div>
    </section>

    <!-- portfolio section  -->

    <section class="portfolio" id="portfolio">
        <h2 class="heading">Latest <span>Projects</span></h2>

        <div class="portfolio-container">
            {% for work in proj %}
            <div class="portfolio-box">
                <img src="{% static '/img/abstraction.png' %}" alt="">
                <div class="portfolio-layer">
                    <h4>{{work.title}}</h4>
                    <p>{{work.body}}</p>
                    <a href="{{work.url}}" blank>Visit</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Contact section  -->
    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email Address">
            </div>
            <div class="input-box">
                <input type="number" placeholder="Mobile Number">
                <input type="text" placeholder="Email Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    </section>


    <!-- footer section  -->

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by <span>Guda</span> | All Rights Reserved.</p>
        </div>

        <div class="footer-icontop">
                <a href="#home">
                <i class="fa-solid fa-arrow-up "></i>
                </a>
        </div>
    </footer>


    <!-- Scroll Reveal -->

    <script src="https://unpkg.com/scrollreveal"></script>


    <!-- Typed js  -->
    <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
    



    <script src="{% static 'index.js' %}"></script>
</body>
</html>